<h1>Clients</h1>

<%= link_to "New client", new_client_path %>

<div id="clients">
    <% @clients.each do |client| %>
        <div>
            <%= client.name.presence || "Unnamed client" %> <%= link_to client.email, client_path(client.id) %>
        </div>
    <% end %>
</div>